


.header-1 {

	p {}

	a {
		&.navbar-brand {
			img {
				&.default-top {
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}

	.icon-bar {
		width: 26px; 
		height: 3px;
		background-color: #B6B6B6;
		display: block;
		transition: all 0.2s;
		margin-top: 4px
	}
	 
	.navbar-toggler {
	  border: none;
	  background: transparent !important;
	}

	.navbar-toggler .top-bar {
	  transform: rotate(45deg);
	  transform-origin: 10% 10%;
	}
	 
	.navbar-toggler .middle-bar {
	  opacity: 0;
	}
	 
	.navbar-toggler .bottom-bar {
	  transform: rotate(-45deg);
	  transform-origin: 10% 90%;
	}
	 
	.navbar-toggler.collapsed .top-bar {
	  transform: rotate(0);
	}
	 
	.navbar-toggler.collapsed .middle-bar {
	  opacity: 1;
	}
	 
	.navbar-toggler.collapsed .bottom-bar {
	  transform: rotate(0);
	}

	ul {
		&.topline-menu {
			list-style: none;
			display: block;
			margin: auto;
			li {
				display: inline-block;
			}
		}
	}
	.topline {
		p {
			margin: 0;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.header-1 {}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.header-1 {}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.header-1 {}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.header-1 {}
}

// Super wide devices (full width)
@media (min-width: 1440px) {
	.header-1 {}
}
