.tif-module-quote {
    .inner {
        .quote-icon {
            height: 55px;
            width: 70px;
        }

        .border-left {
            border-left: 1px solid $cpb-charlie-color !important;
        }

        .border-left-mobile {
            @include media-breakpoint-down(sm) {
                border-left: 1px solid $cpb-charlie-color !important;
            }
        }
    }
}
