#cpb_header {
    &.cpb-bg-image {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .inner {
        .content {
        }
    }
}